@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');


*
{
    font-family: 'Roboto Mono', sans-serif;
    box-sizing: border-box;
}
body
{
    background-color: #8e44ad;
    color:#fff;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    overflow-x: hidden;
    margin:0;
    padding:0;
}
.main_container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1rem;
    margin:2rem;
}
div h1{
    font-size:4rem;
    font-weight: 400;
    margin-bottom:0;
}
div p{
    font-size:1rem;
    margin:0;
    margin-top:10px;
}
@media(max-width:44rem)
{
    .main_container
    {
        flex-direction: column;
    }
    .main_container div
    {
        margin:0.5rem;
    }
    div h1
    {
        font-size:3rem;
    }
}